/* .outer{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-form{
  display: flex;
  flex-direction: column;
  padding: 40px;
  row-gap: 20px;
  column-gap: 20px;
  
  width: 80%;
  border: 2px solid red;
  font-size: 18px;
}
.type-sssc{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.type-subsection{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

input{
  width: 100%;
  height: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 20px;
} */

.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.main-form {
  display: flex;
  flex-direction: column;
}

.type-section {
  margin-bottom: 15px;
}

.type-subsection {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.type-sssc {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

label {
  margin-right: 10px;
}

input[type="radio"],
input[type="checkbox"],
input[type="text"],
input[type="number"],
input[type="file"] {
  width: 100%;
  padding: 7px; /* Increased padding */
  margin-bottom: 10px;
  box-sizing: border-box;
  margin-right: 10px;
  margin-top: 5px;
}

/* Larger checkboxes and radio buttons */
input[type="checkbox"],
input[type="radio"] {
  width: 20px;
  height: 20px;
}

.coord {
  margin-bottom: 10px;
}

.coord-disp {
  margin-bottom: 10px;
}

.image-viewer {
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.coords-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}